table {
  margin-top: 8px;
}

textarea {
    overflow: auto;
    line-height: 20px;
}

.bgc_edit_ok {
  background-color:white;
}

.bgc_edit_no {
  background-color:silver;
}

.biko_width {
  width: 100%
  /*!
  style="text-align: right"
  ¥*/
}

tbody tr:nth-child(odd).status_in {
   background-color:rgba(198, 255, 226, 1);
}

tbody tr:nth-child(even).status_in {
   background-color:rgba(198, 255, 226, 0.5);
}

tbody tr:nth-child(odd).status_out {
   background-color:rgba(245, 245, 245, 1);
}

tbody tr:nth-child(even).status_out {
   background-color:rgba(245, 245, 245, 0.5);
}

tbody tr:nth-child(odd).status_over {
   background-color:rgba(255, 193, 255, 1);
}

tbody tr:nth-child(even).status_over{
   background-color:rgba(255, 193, 255, 0.5);
}


@media screen and ( max-width:480px )
{
    .status {
        width: 75px;
        position: relative;
        left: 30px;
    }
    .work {
        width: 75px;
        position: relative;
        left: 5px;
    }

    .biko_body {
        width: 330px;
        position: relative;
        /*left: 5px;*/
        /*!
        left: 5px;
        */
    }

    table {
        border: none;
    }
    table thead {
        display: none;

    }
    table tr {
        border-top: 1px solid #999;
        display: block;
        margin-bottom: 20px;
    }
    table td {
        border-bottom: 1px solid #999;
        padding: 10px;
        text-align: right;
    }
    .name_body, .work_body, .biko_body, .updatedate_body {
        border-right: 1px solid #999;
        display: block;
    }
    table td::before {
        content: attr(td-label);
        float: left;
        font-weight: bold;
    }
    /*!
    .staff_body, .status_body, .notebtn_body {
        display: inline-block;
        float: left;
        padding-left: 20px;
        border-left: 1px solid #999;
    }
    */
    .staff_body, .status_body {
        display: inline-block;
        float: left;
        padding-left: 20px;
        border-left: 1px solid #999;
    }
    .biko_body, .status_body, .updatedate_body{
        border-left: 1px solid #999;
    }
    .updatedate_body {
        height: 48px;
    }
    /*!
    .name_body, .updatedate_body {
        position: relative;
        left: 25px;
        width: 305px;
    }
    */
    .name_body {
        position: relative;
        left: 25px;
        width: 305px;
    }
    .work_body {
        position: relative;
        /*!
        left: 35px;
        width: 295px;
        */
        left: 35px;
        width: 295px;
    }
    .work_body {
        position: relative;
        /*!
        left: 35px;
        width: 295px;
        */
        left: 35px;
        width: 295px;
    }
    /*!
    .notebtn_body, .status_body {
        position: relative;
        z-index: 1;
    }
    */
    .updatedate_body, .status_body {
        position: relative;
        z-index: 1;
    }

    .staff_body {
        width: 150px;
    }
    textarea {
        width: 300px;
    }
}