
{% extends "base.html" %}
{% load staticfiles %}

{% block title %}ホワイトボードの一覧{% endblock title %}

{% block extrahead %}
    <link type="text/css" href="{% static 'css/whiteborde.css' %}" rel="stylesheet">
    <script type="text/javascript" src="/static/js/javascript.js"></script>
{% endblock %}

{% block content %}
    <h3>ホワイトボードの一覧</h3>
    <h4 id="view_clock" class="page-header" ></h4>

    <a href="{% url 'cms:logout_then_login' %}" class="btn btn-default btn-sm">Log Out</a>
    <span id="user_name" value="21 False">
        ユーザ：{{ login_user.name }}

    </span>

    <div id="other" style="text-align: right">
        <a href="http://www.jslattendance.com/?user_id={{request.user.username}}" target="_blank">
            <button class="btn btn-primary">勤怠</button>
        </a>
    </div>

    <!--<table id="myTBL" class="table table-bordered">-->
    <table id="myTBL" class="table table-striped">
      <thead>
        <tr>
          <th width="10px">社員ID</th>
          <th width="90px">社員名</th>
          <th width="10px">出退勤</th>
          <th width="10px">作業場所</th>
          <th width="400px">備考</th>
          <th width="70px">最終更新日</th>
          <!--<th>社員ID</th>-->
          <!--<th>社員名</th>-->
          <!--<th>出退勤</th>-->
          <!--<th>作業場所</th>-->
          <!--<th>備考</th>-->
          <!--<th>最終更新日</th>-->
        </tr>
      </thead>

      <tbody>
        {% for whiteborde in whitebordes %}
        <form>
            {% csrf_token %}
            {% if whiteborde.status == "出勤" and nowymd != whiteborde.updatedate|date:"Ymd" %}
               <tr id="tr{{whiteborde.staff}}" class="status_over">
            {% else %}
              {% if whiteborde.status == "出勤" %}
                <tr id="tr{{whiteborde.staff}}" class="status_in">
              {% else %}
                <tr id="tr{{whiteborde.staff}}" class="status_out">
              {% endif %}
            {% endif %}

                        <td class="staff_body" td-label="社員番号">{{ whiteborde.staff.user }}</td>
                        <td class="name_body"  td-label="社員名">{{ whiteborde.staff.name }}</td>
                        <td class="status_body" td-label="出退勤">
                            {% if is_edit or whiteborde.staff.user == login_user.user %}
                                <select id="status{{whiteborde.staff}}" name={{ whiteborde.status}} onchange="sel_status('{{whiteborde.staff}}', '{{login_user.user}}', '{% url 'cms:whiteborde_status_save' %}')" class="bgc_edit_ok status">
                            {% else %}
                                <select id="status{{whiteborde.staff}}" disabled name={{ whiteborde.status}} class="bgc_edit_no status">
                            {% endif %}
                                    <option value="出勤"
                                        {% if whiteborde.status == "出勤" %} selected {% endif %}>出勤</option>
                                    <option value="退勤"
                          　　　　　     {% if whiteborde.status == "退勤" %} selected {% endif %}>退勤</option>
                                    {{ whiteborde.status}}
                                </select>
                        </td>

                        <td class="work_body" td-label="作業場所">
                               {#<button type="button" id="note_save{{ staff.user.username }}" onclick="note_save('{{ login_user.user.username }}', '{{ staff.user.username }}', '{% url "white_board:staff_mod_note" %}')" class="btn btn-info btn-sm edit_btn">保存</button>#}

                           {% if is_edit or whiteborde.staff.user == login_user.user %}
                                <select id="work{{whiteborde.staff}}" name='{{ whiteborde.work.place}}' onchange="sel_work('{{whiteborde.staff}}', '{{login_user.user}}', '{% url 'cms:whiteborde_work_save' %}')" class="bgc_edit_ok work">
                           {% else %}
                                <select id="work{{whiteborde.staff}}" disabled name='{{ whiteborde.work.place}}' class="bgc_edit_no work">
                           {% endif %}
                                    {% for place in places %}
                                        {% if place == whiteborde.work %}
                                             <option value="{{ place }}" selected >{{ place }}</option>
                                        {% else %}
                                            <option value="{{ place }}" >{{ place }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                        </td>

                        <td class="biko_body" td-label="備考">
                           {% if is_edit or whiteborde.staff.user == login_user.user %}
                                <input style="margin-top: 0pt;" type="button" value="クリア" onclick="btn_clear('{{whiteborde.staff}}', '{{login_user.user}}')" class="btn btn-info btn-sm" >
                                <textarea id="biko{{whiteborde.staff}}" rows="1" onkeyup="biko_edit('{{whiteborde.staff}}')" class="bgc_edit_ok biko_width">{{whiteborde.biko}}</textarea>
                                <!--<input type="button" value="保存"   onclick="btn_save('{{whiteborde.shain_id}}')" class="btn btn-danger btn-sm" >-->
                                <input style="margin-top: 0pt;" type="button" value="保存"   onclick="btn_save('{{whiteborde.staff}}', '{{login_user.user}}', '{% url "cms:whiteborde_biko_save" %}')" class="btn btn-danger btn-sm" >
                            {% else %}
                                <input style="margin-top: 0pt;" disabled type="button" value="クリア" class="btn btn-info btn-sm" >
                                <textarea id="biko{{whiteborde.staff}}" disabled rows="1" class="bgc_edit_no biko_width">{{whiteborde.biko}}</textarea>
                                <!--<ut type="button" value="保存"   onclick="btn_save('{{whiteborde.shain_id}}')" class="btn btn-danger btn-sm" >-->
                                <input style="margin-top: 0pt;" type="button" disabled value="保存" class="btn btn-danger btn-sm" >
                            {% endif %}
                        </td>

                    <td class="updatedate_body" td-label="最終更新日">{{whiteborde.updatedate|date:"m/d H:i"}}</td>
                </tr>
            </form>
        {% endfor %}
      </tbody>
    </table>

    <a id="status_save" href="whiteborde_status_save?">
        <button id="status_save_button" hidden>テスト</button>
    </a>
    <a id="work_save" href="whiteborde_work_save?">
        <button id="work_save_button" hidden>テスト</button>
    </a>
    <a id="biko_save" href="whiteborde_biko_save?">
        <button id="biko_save_button" hidden>テスト</button>
    </a>
    {#<a href="{% url 'cms:logout_then_login' %}" class="btn btn-default btn-sm">Log Out</a>#}

  {% endblock content %}