{% extends "base.html" %}

{% block title %}ホワイトボードの一覧{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}

.bgc {
  background-color:white;
}
</style>
{% endblock %}

{% block content %}
    <!-- <h3 class="page-header">ホワイトボードの一覧</h3> -->
    <h3>ホワイトボードの一覧</h3>
    <h4 id="view_clock" class="page-header"></h4>
    <!-- <h4 id="view_clock"></h4> -->
    <!-- <a href="{% url 'cms:book_add' %}" class="btn btn-default btn-sm">追加</a> -->
    <!-- <table class="table table-striped table-bordered"> -->
    <table id="myTBL" class="table table-bordered">
      <thead>
        <tr>
          <th width="10px">社員ID</th>
          <th width="105px">社員名</thmax-width>
          <th width="10px">出退勤</th>
          <th width="10px">作業場所</th>
          <th>備考</th>
          <!-- <th width="145px">最終更新日</th> -->
          <th>最終更新日</th>
        </tr>
      </thead>

      <tbody>
        {% for whiteborde in whitebordes %}
        <tr id="tr{{whiteborde.shain_id}}" bgcolor="white">
        {% if whiteborde.status == "出勤" %}
          <!-- <tr id="tr{{whiteborde.shain_id}}" bgcolor="b1b1ff"> -->
        {% endif %}
        {% if whiteborde.status == "退勤" %}
          <!-- <tr id="tr{{whiteborde.shain_id}}" bgcolor="c1c1ff"> -->
        {% endif %}
        <script type="text/JavaScript">
          var tr = document.getElementById("tr" + {{whiteborde.shain_id}});

          var toDoubleDigits = function(num) {
            num += "";
            if (num.length === 1) {
              num = "0" + num;
            }
            return num;
          };

          // 日付をYYYY/MM/DD HH:DD:MI:SS形式で取得
          var date = new Date();
          var yyyy = date.getFullYear();
          var mm = toDoubleDigits(date.getMonth() + 1);
          var dd = toDoubleDigits(date.getDate());
          var today_ymd = yyyy + mm + dd;
          var update_ymd = {{whiteborde.updatedate|date:"Ymd"}};

          if ("{{whiteborde.status}}" == "出勤") {
            var status_save = document.getElementById("status_save");

            if (today_ymd > update_ymd) {
              // 出勤のまま翌日
              tr.bgColor = "ffc1ff";
            } else {
              // 出勤で当日
              tr.bgColor = "c6ffe2";
            }

          } else {
            // 退勤
            tr.bgColor = "ffffff";
          }
        </script>
          <td>{{ whiteborde.shain_id }}</td>
          <td>{{ whiteborde.shain_name }}</td>
          <td>
            <select id="status{{whiteborde.shain_id}}" name={{ whiteborde.status}} onchange="sel_status({{whiteborde.shain_id}})" class="bgc">
              <option value="出勤"
                      {% if whiteborde.status == "出勤" %} selected {% endif %}>出勤</option>
              <option value="退勤"
              　　　　　{% if whiteborde.status == "退勤" %} selected {% endif %}>退勤</option>
              {{ whiteborde.status}}
            </select>
          </td>
          <td>
            <select id="work{{whiteborde.shain_id}}" name={{ whiteborde.work}} onchange="sel_work({{whiteborde.shain_id}})" class="bgc">
              <option value="-"
              　　　　　{% if whiteborde.work == "-" %} selected {% endif %}>-</option>
              <option value="JSL"
              　　　　　{% if whiteborde.work == "JSL" %} selected {% endif %}>JSL</option>
              <option value="NES"
              　　　　　{% if whiteborde.work == "NES" %} selected {% endif %}>NES</option>
              <option value="サカタ"
              　　　　　{% if whiteborde.work == "サカタ" %} selected {% endif %}>サカタ</option>
              <option value="東芝"
             　　　　　 {% if whiteborde.work == "東芝" %} selected {% endif %}>東芝</option>
              <option value="NE"
                　　　 {% if whiteborde.work == "NE" %} selected {% endif %}>NE</option>
              <option value="ケイケン"
           　　　      {% if whiteborde.work == "ケイケン" %} selected {% endif %}>ケイケン</option>
              <option value="システックス"
           　　　      {% if whiteborde.work == "システックス" %} selected {% endif %}>システックス</option>
            </select></td>
          </td>
            <!-- <td><textarea id="biko{{whiteborde.shain_id}}" style="line-height: 20px; height: 46px; width: 504px;" onkeyup="biko_edit({{whiteborde.shain_id}})">{{whiteborde.biko}}</textarea> -->
          <td><input style="margin-top: 5pt;" type="button" value="クリア" onclick="btn_clear({{whiteborde.shain_id}})" class="btn btn-info btn-sm" >
              <textarea id="biko{{whiteborde.shain_id}}" rows="1" style="width: 504px;" onkeyup="biko_edit({{whiteborde.shain_id}})">{{whiteborde.biko}}</textarea>
              <input type="button" value="保存"   onclick="btn_save({{whiteborde.shain_id}})" class="btn btn-danger btn-sm" >
          </td>
          <td>{{whiteborde.updatedate|date:"m/d H:i"}}</td>
        </tr>
        <script type="text/JavaScript">
          //biko_edit({{whiteborde.shain_id}});

          var biko_edit = document.getElementById("biko" + {{whiteborde.shain_id}});
          var bikoval = document.getElementById("biko" + {{whiteborde.shain_id}}).value;
          var line_count = (bikoval.match(/\n|\r\n/g) || []).length + 1;

          //biko_edit.attr("rows", line_count);

          biko_edit.rows = line_count;
        </script>
        {% endfor %}
      </tbody>
    </table>

    <script type="text/JavaScript">

      var myTR = document.getElementById("myTBL").rows;
      for (var i=0;i<myTR.length;i++) { // myTR.length でテーブルの行数を取得して 行数より少ないあいだ i を 1ずつ増やします。
          var v=i%2; //vという変数にiと2の剰余を代入しています。この場合 v は 0 と １を繰り返します
          if (v==1) {　// v が 1 のときmyTR[i].styleを実行します（i 番目の行の背景色と文字色を変更。
            if (myTR[i].bgColor == "c6ffe2") {
              myTR[i].bgColor = "99ffcc"
            }

            if (myTR[i].bgColor == "ffffff") {
              myTR[i].bgColor = "f7f7f7"
            }
                //myTR[i].style.backgroundColor = "#ffccff"; //i 番目の行の背景色を変更。
                //myTR[i].style.backgroundColor = "#efefef"; //i 番目の行の背景色を変更。
          }
      }
    </script>

    <a id="status_save" href="whiteborde_status_save?"><button id="status_save_button" hidden>テスト</button></a>
    <a id="work_save" href="whiteborde_work_save?"><button id="work_save_button" hidden>テスト</button></a>
    <a id="biko_save" href="whiteborde_biko_save?"><button id="biko_save_button" hidden>テスト</button></a>
    <a href="{% url 'cms:logout_then_login' %}" class="btn btn-default btn-sm">Log Out</a>


<script type="text/JavaScript">

  function sel_status(shainid){
    var status_save = document.getElementById("status_save");
    var statusval = document.getElementById("status" + shainid).value;

    status_save.href = "whiteborde_status_save?shain_id=" + shainid + "&status=" + statusval;

    {#//status_save.href = "{% url 'cms:whiteborde_status_save' shain_id=shainid status=statusval %}";#}

    document.getElementById("status_save").click();

    //alert("出退勤状況が変更されました。");
  }

  function sel_work(shainid){
    var work_save = document.getElementById("work_save");
    var workval = document.getElementById("work" + shainid).value;

    work_save.href = "whiteborde_work_save?shain_id=" + shainid + "&work=" + workval;

    {#//status_save.href = "{% url 'cms:whiteborde_status_save' shain_id=shainid status=statusval %}";#}

    document.getElementById("work_save").click();

    //alert("作業場所が変更されました。");
  }

  function btn_clear(shainid){

    document.getElementById("biko" + shainid).value = "";
    biko_edit(shainid);
  }

  function btn_save(shainid){
      var biko_save = document.getElementById("biko_save");
      var bikoval = document.getElementById("biko" + shainid).value;
      bikoval = bikoval.split("\n").join("<br>");

      biko_save.href = "whiteborde_biko_save?shain_id=" + shainid + "&biko=" + bikoval;
      // "biko_save" + shainid.href = "whiteborde_biko_save?shain_id=" + shainid + "&biko=" + bikoval;

      document.getElementById("biko_save").click();
  }

  function biko_edit(shainid){
     var biko_edit = document.getElementById("biko" + shainid);
     var bikoval = document.getElementById("biko" + shainid).value;
     var line_count = (bikoval.match(/\n|\r\n/g) || []).length + 1;

     //biko_edit.attr("rows", line_count);

     biko_edit.rows = line_count;
  }
   
   window.onload = function biko_edit_load(shainid){
     var biko_edit = document.getElementById("biko" + shainid);
     var bikoval = document.getElementById("biko" + shainid).value;
     var line_count = (bikoval.match(/\n|\r\n/g) || []).length + 1;

     //biko_edit.attr("rows", line_count);

     biko_edit.rows = line_count;
   }

   timerID1 = setInterval('clock()',200); //0.5秒毎にclock()を実行

   function clock() {
	 document.getElementById("view_clock").innerHTML = getNow();
   }

   function getNow() {
     var now = new Date();
	 var year = now.getFullYear();
	 var mon = now.getMonth()+1; //１を足すこと
	 var day = now.getDate();
	 var hour = now.getHours();
	 var min = now.getMinutes();
	 var sec = now.getSeconds();

	 var you = now.getDay(); //曜日(0～6=日～土)

	 //曜日の選択肢
	 var youbi = new Array("日","月","火","水","木","金","土");

	 //出力用
	 var s = year + "年" + mon + "月" + day + "日(" + youbi[you] + ") " + hour + "時" + min + "分" + sec + "秒";
	 return s;
   }
</script>
  {% endblock content %}