{% extends "base.html" %}
{% load bootstrap %}

{% block title %}ホワイトボードの編集{% endblock title %}

{% block content %}
    <h3 class="page-header">ホワイトボードの編集</h3>
    {% if shain_id %}
    <form action="{% url 'cms:whiteborde_mod' shain_id=shain_id %}" method="post" class="form-horizontal" role="form">
    {% else %}
    <form action="{% url 'cms:whiteborde_add' %}" method="post" class="form-horizontal" role="form">
    {% endif %}
      {% csrf_token %}
      {{ form|bootstrap_horizontal }}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">送信</button>
        </div>
      </div>
    </form>
    <a href="{% url 'cms:whiteborde_list' %}" class="btn btn-default btn-sm">戻る</a>
{% endblock content %}